
    .view-btn
   {
    height: 40px;
    width: 100px;
     border-radius: 100px;

     background-color: black;
      color: yellow;
      font-weight: bold;
      border: 2px solid black;
      box-shadow: 0 0 5px white;
      margin: 5px;
   }
    .code-btn,.image-btn,.video-btn
   {
    height: 40px;
    width: 100px;
     border-radius: 100px;

     background-color: black;
      color: white;
      font-weight: bold;
      border: 2px solid black;
      box-shadow: 0 0 5px white;
      margin: 5px;

      
    
   }

   
   .view-btn:hover
   {
    border: 2px solid black;
    box-shadow: 0 0 20px yellow;
   }
   .code-btn:hover
   {
    border: 2px solid black;
    box-shadow: 0 0 20px yellow;
   }
   .image-btn:hover
   {
    border: 2px solid black;
    box-shadow: 0 0 20px yellow;
   }
   .video-btn:hover
   {
    border: 2px solid black;
    box-shadow: 0 0 20px yellow;
   }



   

   
   
    a {
      text-decoration: none;
      color: inherit;
      display: block;
      
    }






    

